<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gt.com.kinal.juanlopez.peliculas" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clsLogin"
            android:label="@string/title_activity_cls_login" >
        </activity>
        <activity
            android:name=".clsRegistro"
            android:label="@string/title_activity_cls_registro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clsLogin" />
        </activity>
        <activity
            android:name=".clsDetalleP"
            android:label="@string/title_activity_cls_detalle_p" >
        </activity>
    </application>

</manifest>
